<%= form_with scope: :user, url: post_path, local: true do |form| %>


  <% if flash[:error] %>
    <div id="error_explanation">
      <h2 style="color: red;">
        <%= flash[:error] %>
      </h2>
    </div>
  <% end %>

  <p>
    <%= form.label :login %><br>
    <%= form.text_field :login %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </p>


  <% if signup %>
    <p>
      <%= form.label :confirm_password %><br>
      <%= form.password_field :confirm_password %>
    </p>

    <p>
      <%= form.submit "Sign up" %>

      <%= link_to 'Sign in', login_index_path %>
    </p>

  <% else %>
    <p>
      <%= form.submit "Sign in" %>

      <%= link_to 'Sign up', login_signup_path %>
    </p>

  <% end %>

<% end %>
