
<br>
  <button>
    <%= link_to 'X', [post.user, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </button>
  <strong>Post:</strong>
  <textarea rows="5" readonly>
    <%= post.body %>
  </textarea>
