
<%= form_with scope: :new_post, url: user_posts_path, local: true do |form| %>


  <% if @error %>
    <div id="error_explanation">
      <h2 style="color: red;">
        Wrong credentials, try again
      </h2>
    </div>
  <% end %>

  <%= form.hidden_field :user, :value =>  @user %>
  <%= form.hidden_field :user_id, :value =>  @user.id %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit "Post" %>
  </p>

<% end %>

<%= render @user.posts %>
