<!DOCTYPE html>
<html>
  <head>
    <title>Zombitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Twitter for Zombies</h1>
      <%= link_to 'Your Posts', user_posts_path(@user) %> |
      <%= link_to 'All Posts', user_all_posts_path %> |
      <%= link_to 'Logout', login_signout_path, :method => :delete %>
    <%= yield %>
  </body>
</html>
